<div class="hero">
    <div class="container">
      <form action="" class="searchbar">
          <input type="text" placeholder="Get The Analysis" id="" [(ngModel)]="queryParam" name="queryParam">
          <button (click)="onSubmit(queryParam)" type="submit"><img src="assets/search.png" alt=""></button>
      </form>
      <button (click)="onGetTweets()">
        <img class="icon" src="assets/table.png" alt="">
      </button>
      <button (click)="onGetSentiments()">
        <img class="icon" src="assets/bar-chart.png" alt="">
      </button>
    </div>
</div>

<table *ngIf="isTableVisible" class="table">
  <th>Id</th>
  <th>UserName</th>
  <th>Tweet</th>
  <th>Created At</th>

<tr *ngFor="let tweet of tweets; let i = index">
  <td>{{ i + 1 }}</td>
  <td>{{ tweet.userName }}</td>
  <td>{{ tweet.tweetText }}</td>
  <td>{{ tweet.createdAt }}</td>
</tr>
</table>

<div *ngIf="isChartVisible" class="chart-wrapper">
  <div class="pie-chart">
    <app-pie-chart #pie></app-pie-chart>
  </div>
  <div class="polar-chart">
    <app-polar-area-chart #polar></app-polar-area-chart>
  </div>
  <div class="bar-chart">
    <app-bar-chart #bar></app-bar-chart>
  </div>
</div>