<div class="phone_box">
  
    <mat-card class="example-card">
         <div class="my-moving-text">
           <div>{{skullCandy[0]}}</div>
         </div>
         <img class="same-size-img" src="assets/sk1.jpg" alt="Example Image">
         <button class="my-button" (click)="getAnalysis(skullCandy[0])">Get The Analysis</button>
     </mat-card>
    
     <mat-card class="example-card">
         <div class="my-moving-text">
           <div>{{skullCandy[1]}}</div>
         </div>
         <img class="same-size-img" src="assets/sk1.jpg" alt="Example Image">
         <button class="my-button" (click)="getAnalysis(skullCandy[1])">Get The Analysis</button>
     </mat-card>
    
     <mat-card class="example-card">
         <div class="my-moving-text">
           <div>{{skullCandy[2]}}</div>
         </div>
         <img class="same-size-img" src="assets/sk3.jpg" alt="Example Image">
         <button class="my-button" (click)="getAnalysis(skullCandy[2])">Get The Analysis</button>
     </mat-card>
   </div>
   
   <div class="btns">
    <button (click)="onGetTweets()"><img class="btnImg" src="assets/table.png" alt="" height="100px" width="100px"></button>
    <button (click)="onGetSentiments()"><img src="assets/bar-chart.png" alt="" height="100px" width="100px"></button>
  </div> 

     <table *ngIf="isTableVisible" class="table">
      <th>Id</th>
      <th>UserName</th>
      <th>Tweet</th>
      <th>Created At</th>
    
    <tr *ngFor="let tweet of tweets; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ tweet.userName }}</td>
      <td>{{ tweet.tweetText }}</td>
      <td>{{ tweet.createdAt }}</td>
    </tr>
    </table>
    
    <div *ngIf="isChartVisible" class="chart-wrapper">
      <div class="pie-chart">
        <app-pie-chart #pie></app-pie-chart>
      </div>
      <div class="polar-chart">
        <app-polar-area-chart #polar></app-polar-area-chart>
      </div>
      <div class="bar-chart">
        <app-bar-chart #bar></app-bar-chart>
      </div>
    </div>
   