<div class="phone_box">
  
    <mat-card class="example-card">
         <div class="my-moving-text">
           <div>{{iphone[0]}}</div>
         </div>
         <img class="same-size-img" src="assets/i11.jpg" alt="Example Image">
         <button class="my-button" (click)="getAnalysis(iphone[0])">Get The Analysis</button>
     </mat-card>
    
     <mat-card class="example-card">
         <div class="my-moving-text">
           <div>{{iphone[1]}}</div>
         </div>
         <img class="same-size-img" src="assets/i13.jpg" alt="Example Image">
         <button class="my-button" (click)="getAnalysis(iphone[1])">Get The Analysis</button>
     </mat-card>
    
     <mat-card class="example-card">
         <div class="my-moving-text">
           <div>{{iphone[2]}}</div>
         </div>
         <img class="same-size-img" src="assets/i14pro.jpg" alt="Example Image">
         <button class="my-button" (click)="getAnalysis(iphone[2])">Get The Analysis</button>
     </mat-card>
    </div>

    <button (click)="onGetTweets()"><img src="assets/search.png" alt=""></button>
    <button (click)="onGetSentiments()"><img src="assets/search.png" alt=""></button>    

     <table *ngIf="isTableVisible" class="table">
      <th>Id</th>
      <th>UserName</th>
      <th>Tweet</th>
      <th>Created At</th>
    
    <tr *ngFor="let tweet of tweets; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ tweet.userName }}</td>
      <td>{{ tweet.tweetText }}</td>
      <td>{{ tweet.createdAt }}</td>
    </tr>
    </table>
    
    <div *ngIf="isChartVisible" class="chart-wrapper">
      <div class="pie-chart">
        <app-pie-chart #pie></app-pie-chart>
      </div>
      <div class="polar-chart">
        <app-polar-area-chart #polar></app-polar-area-chart>
      </div>
      <div class="bar-chart">
        <app-bar-chart #bar></app-bar-chart>
      </div>
    </div>
   
     <!-- <mat-card class="example-card">
         <div class="my-moving-text">
           <div>OnePlus 9 Pro</div>
         </div>
         <img class="same-size-img" src="assets/9 pro.png" alt="Example Image">
         <button class="my-button">Get The Analysis</button>
     </mat-card> -->