<!-- <mat-toolbar color="primary">
    <span>Twitter Sentiment Analysis</span>
    <button mat-button routerLink="/Home" routerLinkActive="mat-button-active">Home</button>
    <button mat-button routerLink="/Analyze" routerLinkActive="mat-button-active">Analyze</button>
    <button mat-button routerLink="/Compare" routerLinkActive="mat-button-active">Compare</button>
    <button mat-button routerLink="/Product" routerLinkActive="mat-button-active">Product</button>
    <button mat-button routerLink="/About" routerLinkActive="mat-button-active">About</button>
  </mat-toolbar> -->
<app-nav></app-nav> 
<router-outlet></router-outlet>