<div class="header">
    <h1 id="app-name">Real- Time <br><br>Twitter Sentiment Analysis</h1>
    <ng-lottie id="lottie" [options]="lottieOptions"></ng-lottie>
</div>
<div class="card-wrapper">
    <div class="card">
        <img id="card-img" src="assets/time.jpg" alt="Avatar">
        <div class="container">
          <h4 class="card-title"><b>Discover Brand Perception</b></h4>
          <p>Knowing brand perception
            can help you identify
            potential problems as well
            as reap benefits from
            hidden opportunities.</p>
        </div>
    </div>

    <div class="card">
        <img id="card-img" src="assets/Influence.jpg" alt="Avatar">
        <div class="container">
          <h4 class="card-title"><b>Grow Your Influence</b></h4>
          <p>Improve your brand’s
            influence by quickly
            responding to both the
            positive and negative
            sentiments of people.</p>
        </div>
    </div>
    
    <div class="card">
        <img id="card-img" src="assets/service.jpg" alt="Avatar">
        <div class="container">
          <h4 class="card-title"><b>Improve Customer Service</b></h4>
          <p>It is important to track customer
            problems using the sentiment
            analysis tool on Twitter and
            employ customer service agents
            who can instantly resolve their
            problems</p>
        </div>
    </div>
</div>

<br>
<br>