<div class="header">
    <h1 id="app-name">Real- Time <br><br>Twitter Sentiment Analysis</h1>
    <ng-lottie id="lottie" [options]="lottieOptions"></ng-lottie>
</div>
<div class="card-wrapper">
    <div class="card">
        <img id="card-img" src="assets/time.jpg" alt="Avatar">
        <div class="container">
          <h4 class="card-title"><b>Discover Brand Perception</b></h4>
          <p>Knowing brand perception
            can help you identify
            potential problems as well
            as reap benefits from
            hidden opportunities.</p>
        </div>
    </div>

    <div class="card">
        <img id="card-img" src="assets/Influence.jpg" alt="Avatar">
        <div class="container">
          <h4 class="card-title"><b>Grow Your Influence</b></h4>
          <p>Improve your brand’s
            influence by quickly
            responding to both the
            positive and negative
            sentiments of people.</p>
        </div>
    </div>
    
    <div class="card">
        <img id="card-img" src="assets/service.jpg" alt="Avatar">
        <div class="container">
          <h4 class="card-title"><b>Improve Customer Service</b></h4>
          <p>It is important to track customer
            problems using the sentiment
            analysis tool on Twitter and
            employ customer service agents
            who can instantly resolve their
            problems</p>
        </div>
    </div>
</div>
<br>
<br>
<div class="sec" id="sec">
    <br>
    <h2>What Is Sentiment Analysis?</h2>
              <br>
              <p> Sentiment analysis (or opinion mining) is a natural language processing (NLP) technique used to determine whether data is positive, negative or neutral. Sentiment analysis is often performed on textual data to help businesses monitor brand and product sentiment in customer feedback, and understand customer needs.
                <br>
                The Basics of Sentiment Analysis
                Sentiment analysis is the process of detecting positive or negative sentiment in text. It’s often used by businesses to detect sentiment in social data, gauge brand reputation, and understand customers.
            </p>
            <br><br>
            <h2>Types of Sentiment Analysis</h2>
            <br>
            <p>
                Sentiment analysis focuses on the polarity of a text (positive, negative, neutral) but it also goes beyond polarity to detect specific feelings and emotions (angry, happy, sad, etc), urgency (urgent, not urgent) and even intentions (interested v. not interested).
                <ul class="list">
                    <li>Very positive</li>
                    <li>Positive</li>
                    <li>Neutral</li>
                    <li>Negative</li>
                    <li>Very negative</li>
                </ul>
                <br><br>
                <h2>Why Is Sentiment Analysis Important?</h2>
            <br>
            <p>
                Since humans express their thoughts and feelings more openly than ever before, sentiment analysis is fast becoming an essential tool to monitor and understand sentiment in all types of data.
                <br>
                Automatically analyzing customer feedback, such as opinions in survey responses and social media conversations, allows brands to learn what makes customers happy or frustrated, so that they can tailor products and services to meet their customers’ needs.
                <br>
                Maybe you want to track brand sentiment so you can detect disgruntled customers immediately and respond as soon as possible. Maybe you want to compare sentiment from one quarter to the next to see if you need to take action. Then you could dig deeper into your qualitative data to see why sentiment is falling or rising.
        </p>
            <br><br>
</div>