@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Josefin+Sans&display=swap');
*{
  font-family: 'Josefin Sans', sans-serif;
}
.header {
    height: 500px;
    padding: 60px;
    background: rgb(2,0,36);
    background-image: linear-gradient(to right top, #202d41, #26385b, #314374, #434c8e, #5b54a6);
    color: white;
    display: flex;
    align-items: center;
  }
  
#app-name {
    text-align: start;
    // font-family: JosefinSans-Regular;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    margin-left: 100px;
  }

#lottie{
    margin-left: 25%;
    margin-right: 100px;
    width: 500px;
    height: 500px;
}

.card-wrapper{
    display: flex;
    justify-content: center;
    // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#card-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 60%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background: #fff;
    margin-top: 20px;
    width: 20%;
    height: 400px;
    margin-left: 40px;
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .card-title{
    text-align: center;
  }
  .sec{
    position: relative;
    padding: 100px;
    background-image: linear-gradient(to left, #584b87, #403a6c, #2b2952, #171a38, #050421);
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}
.sec p{
    font-size: 1.5em;
    line-height: 1.2;
    color: #fff;
}
.list{
  color: #fff;
  font-size: 1.5em;
    line-height: 1.2;
}